.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: white;
    border-top: 2px solid black;
    font-size: 14px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.footer-left {
    text-align: left;
}

.footer-right {
    text-align: right;
}