<div class="gestion-cubes-container">
    <!-- Actions (Add Cube Button) -->
    <div class="actions">
        <button class="add-cube-btn" (click)="openAddCubeForm()">+ AJOUTER CUBE</button>
    </div>

    <!-- Add cube Modal -->
    <div *ngIf="showAddCubeForm" class="full-page-overlay" (click)="closeAddCubeForm()">
        <div class="cube-form" (click)="$event.stopPropagation()">
            <h2 class="form-title">Gestion Des Cubes: </h2>
            <form #addCubeForm="ngForm" (ngSubmit)="onAddCube()" novalidate>
                <div class="form-container">
                    <div class="form-grid">
                        <div class="form-group">
                            <label class="custom-label">NOM DE CUBE: *</label>
                            <input type="text" [(ngModel)]="newCube.nom" name="nom" required class="custom-input">
                        </div>
                        <div class="form-group">
                            <label class="custom-label">DESCRIPTION:</label>
                            <textarea [(ngModel)]="newCube.description" name="description"
                                class="custom-input"></textarea>
                        </div>
                    </div>

                    <!-- Submit Button -->
                    <div class="submit-section">
                        <button mat-raised-button class="submit-button" type="submit" [disabled]="addCubeForm.invalid">
                            AJOUTER
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Edit Cube Modal -->
    <div *ngIf="showEditCubeForm" class="full-page-overlay" (click)="closeEditCubeForm()">
        <div class="cube-form" (click)="$event.stopPropagation()">
            <h2 class="form-title">Modifier Cube:</h2>
            <form #editCubeForm="ngForm" (ngSubmit)="onEditCube()" novalidate>
                <div class="form-container">
                    <div class="form-grid">
                        <div class="form-group">
                            <label class="custom-label">NOM DE CUBE: *</label>
                            <input type="text" [(ngModel)]="selectedCube.nom" name="nom" required class="custom-input">
                        </div>
                        <div class="form-group">
                            <label class="custom-label">DESCRIPTION:</label>
                            <textarea [(ngModel)]="selectedCube.description" name="description"
                                class="custom-input"></textarea>
                        </div>
                    </div>

                    <!-- Submit Button -->
                    <div class="submit-section">
                        <button mat-raised-button class="submit-button" type="submit" [disabled]="editCubeForm.invalid">
                            MODIFIER
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Table for Cubes -->
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
            <td mat-cell *matCellDef="let cube"> {{ cube.nom }}</td>
        </ng-container>

        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
            <td mat-cell *matCellDef="let cube" class="description-column">
                <span>{{ cube.description }}</span>
                <span class="actions-container">
                    <button mat-icon-button color="primary" (click)="openEditCubeForm(cube)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="deleteCube(cube.id)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </span>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <!-- Paginator -->
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
</div>