<div class="gestion-formations-container">
    <div class="actions">
        <!-- Add Formation Button -->
        <button class="add-formation-btn" (click)="openAddFormationForm()">
            + AJOUTER FORMATION
        </button>

        <!-- Search Bar with Icon Inside the Input -->
        <div class="search-container">
            <input type="text" placeholder="Rechercher.." name="search" [(ngModel)]="searchTerm"
                (input)="onSearchChange()" class="search-input" />
        </div>

        <!-- Module Filter Dropdown -->
        <select [(ngModel)]="selectedModule" (change)="onModuleFilterChange()" class="filter">
            <option value="">Filtrer par: </option>
            <option *ngFor="let group of moduleGroups" [value]="group.moduleName">
                {{ group.moduleName }}
            </option>
        </select>
    </div>
    <div *ngIf="showAddFormationForm" class="full-page-overlay" (click)="closeAddFormationForm()">
        <div class="poste-form" (click)="$event.stopPropagation()">
            <h2 class="form-title">Nouvelle Formation:</h2>

            <form [formGroup]="formationForm" (ngSubmit)="onAddFormation()" novalidate>

                <label for="titre">TITRE*</label>
                <input id="titre" type="text" formControlName="titre" />

                <label for="description">DESCRIPTION*</label>
                <textarea id="description" formControlName="description"></textarea>

                <div class="row-container">
                    <div class="half">
                        <label for="objectif">OBJECTIF*</label>
                        <input id="objectif" type="text" formControlName="objectif" />
                    </div>
                    <div class="half">
                        <label for="modules">MODULE:*</label>
                        <div #dropdownRef class="custom-dropdown-wrapper" (click)="onDropdownClick($event)"
                            tabindex="0">

                            <div class="custom-dropdown-trigger">
                                {{ selectedModulesLabel() }}
                                <span class="dropdown-icon">⌄</span>
                            </div>
                            <div class="custom-dropdown-content" *ngIf="showModuleDropdown">
                                <div class="custom-option" *ngFor="let m of modules">
                                    <input type="checkbox" [checked]="isModuleSelected(m.id)"
                                        (change)="onModuleCheckChange(m.id); $event.stopPropagation()" />
                                    <span>{{ m.nom }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="custom-label">SOCIÉTÉ ASSOCIÉE: *</label>
                            <select [(ngModel)]="newFormation.departements" [ngModelOptions]="{standalone: true}"
                                name="departements" required class="custom-input">
                                <option *ngFor="let departement of departements" [value]="departement.id">{{
                                    departement.nom }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="custom-label">Organigramme du departement: </label>
                    <input class="form-control" type="file" (change)="onChange($event)">
                </div>
                <label>TÉLÉCHARGEABLE:*</label>
                <div class="radio-group">
                    <label><input type="radio" [value]="true" formControlName="telechargable" /> OUI</label>
                    <label><input type="radio" [value]="false" formControlName="telechargable" /> NON</label>
                </div>
                <button type="submit">ENREGISTRER</button>
            </form>
        </div>
    </div>

</div>
<div *ngFor="let group of moduleGroups" class="module-group">
    <h2>{{ group.moduleName.toUpperCase() }}:</h2>
    <div class="formation-list">
        <div class="formation-card" *ngFor="let formation of group.formations">
            <div class="card-content">
                <h3>{{ formation.titre }}</h3>
            </div>
        </div>
    </div>
</div>