<div class="parametre-container">
    <div class="menu-grid">
        <a [routerLink]="['/gestion-utilisateurs']" class="menu-item">
            <i class="fas fa-users"></i>
            <span>GESTION DES UTILISATEURS</span>
        </a>
        <a [routerLink]="['/gestion-societes']" class="menu-item">
            <i class="fas fa-university"></i>
            <span>GESTION DES SOCIÉTÉS</span>
        </a>
        <a [routerLink]="['/gestion-departements']" class="menu-item">
            <i class="fas fa-sitemap"></i>
            <span>GESTION DES DÉPARTEMENTS</span>
        </a>
        <a [routerLink]="['/gestion-unites']" class="menu-item">
            <i class="fas fa-map"></i>
            <span>GESTION DES UNITÉS</span>
        </a>
        <a class="menu-item">
            <i class="fas fa-user-check"></i>
            <span>GESTION DES POSTES</span>
        </a>
        <a class="menu-item">
            <i class="fas fa-cubes"></i>
            <span>GESTION DES CUBES</span>
        </a>
    </div>
</div>