<div class="gestion-postes-container">
    <!-- Actions (Add Poste Button) -->
    <div class="actions">
        <button class="add-poste-btn" (click)="openAddPosteForm()">+ AJOUTER POSTE</button>
    </div>

    <!-- Add POSTE Modal -->
    <div *ngIf="showAddPosteForm" class="full-page-overlay" (click)="closeAddPosteForm()">
        <div class="poste-form" (click)="$event.stopPropagation()">
            <h2 class="form-title">Gestion Des Postes: </h2>
            <form #addPosteForm="ngForm" (ngSubmit)="onAddPoste()" novalidate>
                <div class="form-container">
                    <div class="form-grid">
                        <div class="form-group">
                            <label class="custom-label">NOM DE POSTE: *</label>
                            <input type="text" [(ngModel)]="newPoste.nom" name="nom" required class="custom-input">
                        </div>
                        <div class="form-group">
                            <label class="custom-label">DESCRIPTION:</label>
                            <textarea [(ngModel)]="newPoste.description" name="description"
                                class="custom-input"></textarea>
                        </div>
                        <div class="form-group">
                            <label class="custom-label">Fiche Fonction:</label>
                            <input class="form-control" type="file" (change)="onChange($event)">
                        </div>

                    </div>

                    <!-- Submit Button -->
                    <div class="submit-section">
                        <button mat-raised-button class="submit-button" type="submit" [disabled]="addPosteForm.invalid">
                            AJOUTER
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Edit Poste Modal -->
    <div *ngIf="showEditPosteForm" class="full-page-overlay" (click)="closeEditPosteForm()">
        <div class="poste-form" (click)="$event.stopPropagation()">
            <h2 class="form-title">Modifier Poste:</h2>
            <form #editPosteForm="ngForm" (ngSubmit)="onEditPoste()" novalidate>
                <div class="form-container">
                    <div class="form-grid">
                        <div class="form-group">
                            <label class="custom-label">NOM DE POSTE: *</label>
                            <input type="text" [(ngModel)]="selectedPoste.nom" name="nom" required class="custom-input">
                        </div>
                        <div class="form-group">
                            <label class="custom-label">DESCRIPTION:</label>
                            <textarea [(ngModel)]="selectedPoste.description" name="description"
                                class="custom-input"></textarea>
                        </div>
                        <div class="form-group">
                            <label class="custom-label">Organigramme de poste: </label>
                            <input type="file" (change)="onFileSelected($event)">
                        </div>
                        <div *ngIf="selectedPoste.fiche_fonction">
                            <p>Current File :
                                <a [href]="'http://localhost:3000' + selectedPoste.fiche_fonction" target="_blank">
                                    {{ selectedPoste.fiche_fonction.split('/').pop() }}
                                </a>
                            </p>
                        </div>
                    </div>

                    <!-- Submit Button -->
                    <div class="submit-section">
                        <button mat-raised-button class="submit-button" type="submit"
                            [disabled]="editPosteForm.invalid">
                            MODIFIER
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Table for Postes -->
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
            <td mat-cell *matCellDef="let poste"> {{ poste.nom }}</td>
        </ng-container>

        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
            <td mat-cell *matCellDef="let poste" class="description-column">
                <span>{{ poste.description }}</span>
                <span class="actions-container">
                    <button mat-icon-button color="primary" (click)="openEditPosteForm(poste)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="deletePoste(poste.id)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </span>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <!-- Paginator -->
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
</div>