<div class="gestion-modules-container">
    <!-- Actions (Add module Button) -->
    <div class="actions">
        <button class="add-module-btn" (click)="openAddModuleForm()">+ AJOUTER MODULE</button>
    </div>

    <!-- Add Module Modal -->
    <div *ngIf="showAddModuleForm" class="full-page-overlay" (click)="closeAddModuleForm()">
        <div class="module-form" (click)="$event.stopPropagation()">
            <h2 class="form-title">Gestion Des Modules: </h2>
            <form #addModuleForm="ngForm" (ngSubmit)="onAddModule()" novalidate>
                <div class="form-container">
                    <div class="form-grid">
                        <div class="form-group">
                            <label class="custom-label">NOM DE MODULE: *</label>
                            <input type="text" [(ngModel)]="newModule.nom" name="nom" required class="custom-input">
                        </div>
                        <div class="form-group">
                            <label class="custom-label">DESCRIPTION:</label>
                            <textarea [(ngModel)]="newModule.description" name="description"
                                class="custom-input"></textarea>
                        </div>
                    </div>

                    <!-- Submit Button -->
                    <div class="submit-section">
                        <button mat-raised-button class="submit-button" type="submit"
                            [disabled]="addModuleForm.invalid">
                            AJOUTER
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Edit Module Modal -->
    <div *ngIf="showEditModuleForm" class="full-page-overlay" (click)="closeEditModuleForm()">
        <div class="module-form" (click)="$event.stopPropagation()">
            <h2 class="form-title">Modifier Module:</h2>
            <form #editModuleForm="ngForm" (ngSubmit)="onEditModule()" novalidate>
                <div class="form-container">
                    <div class="form-grid">
                        <div class="form-group">
                            <label class="custom-label">NOM DE MODULE: *</label>
                            <input type="text" [(ngModel)]="selectedModule.nom" name="nom" required
                                class="custom-input">
                        </div>
                        <div class="form-group">
                            <label class="custom-label">DESCRIPTION:</label>
                            <textarea [(ngModel)]="selectedModule.description" name="description"
                                class="custom-input"></textarea>
                        </div>
                    </div>

                    <!-- Submit Button -->
                    <div class="submit-section">
                        <button mat-raised-button class="submit-button" type="submit"
                            [disabled]="editModuleForm.invalid">
                            MODIFIER
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Table for Unités -->
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="nom">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
            <td mat-cell *matCellDef="let module"> {{ module.nom }}</td>
        </ng-container>

        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
            <td mat-cell *matCellDef="let module" class="description-column">
                <span>{{ module.description }}</span>
                <span class="actions-container">
                    <button mat-icon-button color="primary" (click)="openEditModuleForm(module)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="deleteModule(module.id)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </span>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <!-- Paginator -->
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
</div>